@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roc: "roc-grotesk", sans-serif;
  --font-roc-compressed: "roc-grotesk-compressed", sans-serif;
  --font-roc-condensed: "roc-grotesk-condensed", sans-serif;
  --font-roc-wide: "roc-grotesk-wide", sans-serif;
  --font-roc-extrawide: "roc-grotesk-extrawide", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "roc-grotesk", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
